
/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root, * {
  --font-family: 'Rampart One', sans-serif;
}


::-webkit-scrollbar { width: var( --blume-spacer-sm ); }
::-webkit-scrollbar-track { background: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: var( --blume-radius-pill );
  background-color: var( --blume-primary );
}

::-webkit-scrollbar-thumb:hover { background-color: var( --blume-primary-dark ); }

html, body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  html,
  body {
    background: white;
  }

}
